@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0px;
    padding:0px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    
  }
  .sidenav a.active {
    background-color: #473c3c;
    color: white;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  }
  .main{
    padding-left: 50px;
    /* background-color: #023047; */
    height: auto;
    margin-top: 0px;
  }
  .main img{
    height: 200px;
  }
  .heading{
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: -5px;

    z-index: 99999;
    padding-top: 10px;
    
  }
  .dashboard{
    /* padding-top: 100px; */
  }
  .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 10px;
    
  }
  .cards .card{
    margin-left: 20px;
    margin-bottom:40px;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .user-profiles{
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
  }
  .settings{
    height: 100vh;
  }
  .setting-heading{
    text-align: center;
    padding: 5px;
  }
  .settings .table{
    width: 70%;
    margin-left: 10%;
    color:white;
  }
  .settings .table a{
    color: white;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .cards{
        margin-left: -120px;
    }
    .settings{
        height: 100vh;
    }
    .tables{
        width: 20%;
    }

}